<nav class="header sticky grid">
  <div class="header-list">
    <div class="header-icon-list ">
      <ul class="header-icon-item list ">
        <li class="icon-item item icon">
          <a href="" class="icon fb"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="header-icon-item item icon">
          <a href="" class="icon instagram"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="header-icon-item item icon">
          <a href="" class="icon twiter"><i class="fab fa-twitter-square"></i></a>
        </li>
      </ul>
    </div>
    <div class="header-feature-list header-list">
      <ul class="header-feature-item list">
        <li class="feature-item item ">
          <a href="" class="content">HOME</a>
        </li>
        <li class="feature-item item ">
          <a href="" class="content">REVIEW</a>
        </li>
        <li class="feature-item item ">
          <a href="" class="content">DESTINATION</a>
        </li>
        <li class="login-item item">
          <a href="" class="content">SIGN IN</a>
        </li>
        <li class="login-item item">
          <a href="" class="content">LOGIN</a>
        </li>
      </ul>
    </div>
    <div class="header-search list item ">
      <button class="search-submit icon"><i class="fas fa-search "></i></button>
      <input  id="header-search" class="search" type="search" placeholder="Search.." >
    </div>
  </div>
</nav>
