<div class="grid wide container">
  <div class="body-top">
    <a href="/destination" routerLink="/destination/list" class="heading-body "><h1 class="font-style">DESTINATION</h1>
    </a>
    <div class="row">
      <div class="col l-4 m-6 c-12">
        <div class="test">
          DESTINATION 1
        </div>
      </div>
      <div class="col l-4 m-6 c-12">
        <div class="test">
          DESTINATION 2
        </div>
      </div>
      <div class="col l-4 m-6 c-12">
        <div class="test">
          DESTINATION 3
        </div>
      </div>
    </div>
  </div>
  <div class="mid-body">
    <a href=" "class="heading-body "><h1 class="font-style">MOST POPULAR</h1></a>
    <div class="row mid-body">
      <div class="col l-3 m-4 c-6">
        <div class="test">REVIEW 1</div>
      </div>
      <div class="col l-3 m-4 c-6">
        <div class="test">REVIEW 2</div>
      </div>
      <div class="col l-3 m-4 c-6">
        <div class="test">REVIEW 3</div>
      </div>
      <div class="col l-3 m-4 c-6">
        <div class="test">REVIEW 4</div>
      </div>
    </div>
  </div>
</div>

