.body-top{
  padding-bottom: 5%;
}
hr.new1{
  border: 2px solid #23aef4;
  border-radius: 5px;
  max-width: 5%;
}
.test{
  background-color: orange;
  margin-top: 16px;
  text-align: center;
  min-height: 380px;
  line-height: 380px;
  color: white;
}
.heading-body{
  color: #23aef4;
}
