<footer class="main-footer ">
  <div class="top-footer grid wide">
    <div class="row">
      <div class="col l-3 m-12 c-12">
        <h1 style="color: white">footer1</h1>
      </div>
      <div class="col l-3 m-12 c-12">
        <h1 style="color: white">footer2</h1>
      </div>
      <div class="col l-3 m-12 c-12">
        <h1 style="color: white">footer3</h1>
      </div>
      <div class="col l-3 m-12 c-12">
        <h1 style="color: white">footer4</h1>
      </div>
    </div>
  </div>
  <hr>
  <div class="bottom-footer grid wide">
    <div class="row">
      <div class="col l-4 m-4 c-4">
        <a href="" class="icon fb"><i class="fab fa-facebook"></i>FACEBOOK</a>
      </div>
      <div class="col l-4 m-4 c-4">
        <a href="" class="icon instagram"><i class="fab fa-instagram">INSTAGRAM</i></a>
      </div>
      <div class="col l-4 m-4 c-4">
        <a href="" class="icon twister"><i class="fab fa-twitter-square">TWISTER</i></a>
      </div>
    </div>
  </div>
</footer>
